@using Newtonsoft.Json.Linq

@{
    IEnumerable<JToken> instagramPosts = null;

    if (ViewBag.InstagramPosts != null)
    {
        instagramPosts = ViewBag.InstagramPosts.SelectTokens("$..data[?(@.media_type == 'CAROUSEL_ALBUM')]");
    }
}

<section class="news-wrapper" id="novidades">
    <div class="news-title">
        <h1>Novidades</h1>
    </div>
    <div class="news-container">
        @if (instagramPosts != null)
        {
            @foreach (var item in instagramPosts.Select((value, idx) => new { idx, value }))
            {
                @if (item.value.SelectToken("media_url") != null && item.idx < 8)
                {
                    IEnumerable<JToken> children = item.value.SelectToken("children").SelectTokens("$..data[?(@.media_url != '')]");
@* 
                    <div class="col-md-3 item-novidade">
                        <a data-lightbox="@item.value.SelectToken("id")" href="@item.value.SelectToken("media_url")">
                            <img src="@item.value.SelectToken("media_url")">
                        </a>
                        @foreach (var i in children.Select((value, idx) => new { idx, value }))
                        {
                            @if (i.value.SelectToken("media_url") != null && i.idx > 0)
                            {
                                <a data-lightbox="@item.value.SelectToken("id")" style="display: none;" rel="@item.value.SelectToken("id")" href="@i.value.SelectToken("media_url")">
                                    <img src="@i.value.SelectToken("media_url")">
                                </a>
                            }
                        }
                    </div> *@

                    <div class="news">
                        <img src="@item.value.SelectToken("media_url")" alt="" />
                    </div>
                }
            }
        }
    </div>
</section>