@using MHDecora.Site.Domain.Entities
@using Newtonsoft.Json.Linq

@{
    IEnumerable<JToken> instagramPosts = null;

    if (ViewBag.InstagramPosts != null)
    {
        instagramPosts = ViewBag.InstagramPosts.SelectTokens("$..data[?(@.media_type == 'CAROUSEL_ALBUM')]");
    }

    var RedeInstagram = ViewBag.RedeInstagram as ConfigSite;
}

<link href="~/css/lightbox2/css/lightbox.css" rel="stylesheet" /> />


<section class="swiper" style="height: 720px; margin-top: 50px;" id="novidades">
    <div class="about-content">
        <h1 class="heading">Novidades</h1>

    </div>
    <div class="news-container">
        @if (instagramPosts != null)
        {
            @foreach (var item in instagramPosts.Select((value, idx) => new { idx, value }))
            {
                @if (item.value.SelectToken("media_url") != null && item.idx < 8)
                {
                    IEnumerable<JToken> children = item.value.SelectToken("children").SelectTokens("$..data[?(@.media_url != '')]");

                    <div class="news" style="width: 260px !important; height:260px !important;">
                        <a data-lightbox="@item.value.SelectToken("id")" href="@item.value.SelectToken("media_url")">
                            <img src="@item.value.SelectToken("media_url")">
                        </a>
                        @foreach (var i in children.Select((value, idx) => new { idx, value }))
                        {
                            @if (i.value.SelectToken("media_url") != null && i.idx > 0)
                            {
                                <a data-lightbox="@item.value.SelectToken("id")" style="display: none;" rel="@item.value.SelectToken("id")" href="@i.value.SelectToken("media_url")">
                                    <img src="@i.value.SelectToken("media_url")">
                                </a>
                            }
                        }
                    </div>

                    @* <div class="news">
                        <img src="@item.value.SelectToken("media_url")" alt="" />
                    </div> *@
                }
            }
        }
       
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/css/lightbox2/js/lightbox.js"></script>
   
}
          