@model List<MHDecora.Site.Domain.Entities.Tema>

@* <div class="mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mt-0 title-principais-telas text-center">@Model.FirstOrDefault().Titulo</h2>
        </div>
    </div>
</div>

<div class="mt-5">
    <div class="owl-carousel owl-theme">
        @foreach (var item in Model)
        {
            <div class="item">
                <div class="gallery-item">
                    <div class="circle-outline">
                        <!-- Adicione a imagem dentro do círculo -->
                        <img src="@item.CaminhoImagem" alt="Imagem" class="rounded-circle" href="#" style="width: 109px;height: 109px;">
                    </div>
                </div>
                <p class="item-text mt-4">@item.Texto</p>
            </div>
        }
    </div>
   
</div> *@


@section Scripts {
@*   
    <script>
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel({
                // Adicione as opções do carrossel aqui
                loop: true,
                margin: 10,
                nav: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 5
                    }
                }
            });
        });


    </script> *@
}

<style>
    .swiper-slide-tema img {
        width: 90% !important;
    }
    </style>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<section class="theme" id="decoracoes">
        <div class="theme-container swiper">
          <h1 class="negrito">Principais temas disponíveis</h1>
          <div class="theme-content">
            <div class="swiper-wrapper">
             
              @foreach (var tema in @Model)
              {
                    <article class="theme-article swiper-slide" >
                        <a href="@Url.Action("ConsultaTagsTema", "Home", new { temaId = @tema.Id })" class="theme-link">
                            <div class="theme-image">
                                <div class="swiper-slide-tema">
                                    <img src="@tema.CaminhoImagem" href="@Url.Action("ConsultaTagsTema", "Home", new { temaId = @tema.Id })" alt="" />
                                </div>
                            </div>

                            <div class="theme-data">
                                <div class="theme-name">@tema.Titulo</div>
                            </div>
                        </a>
                    </article>
              }

            </div>
          </div>
          <div class="swiper-button-prev" style="display: flex;">
            <i class="fa-solid fa-arrow-left"></i>
          </div>
        <div class="swiper-button-next" style="display: flex;">
            <i class="fa-solid fa-arrow-right"></i>
          </div>
        </div>
      </section>




@* <script src="~/js/swiper.js"></script>
<script src="~/js/main.js"></script> *@
<script src="https://kit.fontawesome.com/77ebc8126c.js" crossorigin="anonymous"></script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const slides = document.querySelectorAll(".slider-box");
        const sliderNav = document.querySelectorAll(".slider-nav-link");

        sliderNav.forEach((link) => {
            link.addEventListener("click", () => {
                const index = link.getAttribute("data-index");

                slides.forEach((slide, i) => {
                    if (i == index) {
                        slide.classList.add("active", "show");
                    } else {
                        slide.classList.remove("active", "show");
                    }
                });

                sliderNav.forEach((nav) => {
                    nav.classList.remove("active");
                });

                link.classList.add("active");
            });
        });
    });
</script>