 @model MHDecora.Site.Domain.Entities.Detalhe

@{
    string numero = "5519983603822"; // Substitua com o número desejado, incluindo o código do país
    string texto = "Título: " + Model.ListaMontagem[0].Titulo; // Texto pré-definido a ser incluído na mensagem
    string url = "https://wa.me/" + numero + "?text=" + System.Uri.EscapeDataString(texto);
}

<div class="container">
    @{
        if (Model != null)
        {
            <div class="detail">
                <h1 class="name" style="text-align: center">@Model.ListaMontagem[0].Titulo</h1>
                                
                    <div class="image">
                        <img src="@Model.ListaMontagem[0].CaminhoImagem" id="image-principal" />

                    @if (!string.IsNullOrEmpty(@Model.ListaMontagem[0].CaminhoImagem2) ||
                         !string.IsNullOrEmpty(@Model.ListaMontagem[0].CaminhoImagem3) ||
                         !string.IsNullOrEmpty(@Model.ListaMontagem[0].CaminhoImagem4))
                    {
                        <div class="image-grid">
                            @{
                                int cam = 2;
                                int x = 2;
                                while(x <= 4)
                                {
                                    string nomePropriedade = "CaminhoImagem" + cam;
                                    string caminhoImagem = (string)Model.ListaMontagem[0].GetType().GetProperty(nomePropriedade)?.GetValue(Model.ListaMontagem[0], null);

                                    if (!string.IsNullOrEmpty(caminhoImagem))
                                    {
                                        <img src="@caminhoImagem" />                                     

                                    }
                                    cam++;
                                    x++;
                                } 

                                if (x == 2)
                                {
                                    <img src="~/images/site/blank.png" style="cursor:default;" />
                                    <img src="~/images/site/blank.png" style="cursor:default;" />
                                    <img src="~/images/site/blank.png" style="cursor:default;" />
                                }
                                else if (x == 5)
                                {
                                    <img src="~/images/site/blank.png" style="cursor:default;" />
                                    <img src="~/images/site/blank.png" style="cursor:default;" />
                                } 
                                else
                                {
                                    <img src="~/images/site/blank.png" style="cursor:default;" />
                                }
                            }
                            
                        </div>
                    }
                    </div>
                
                <div class="content">
                    <h1 class="name">Descrição do produto</h1>

                    <div class="description">@Model.ListaMontagem[0].Texto</div>
                    <div class="buttons">
                        <a href="@url" target="_blank">Solicitar orçamento</a>
                    </div>
                </div>
            </div>
        }
    }

    <div class="product-list">
        <div class="title"><strong>Veja também</strong></div>
        
        <div class="listProduct">


            <div class="filterable-cards-detalhe">
                @for (var x = 1; x < Model.ListaMontagem.Count(); x ++)
                {
                    <div class="card" data-name="" style="display: block;">
                        <img src="@Model.ListaMontagem[x].CaminhoImagem" alt="recent">
                        <div class="card-body">
                            <h6 class="card-title">@Model.ListaMontagem[x].Titulo</h6>
                            <p class="card-text">@Model.ListaMontagem[x].TextoImagem</p>
                            <a href="/Home/Detalhes?montagemId=@Model.ListaMontagem[x].Id" class="btn">Saiba mais</a>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>

    @* <a href="../index.html" class="btn-back">
        <i class="fa-solid fa-arrow-left"></i>
    </a> *@
</div>


    <script type="text/javascript">
        // let products = null;
        // // get data from file json
        // fetch("../data/products.json")
        //     .then((response) => response.json())
        //     .then((data) => {
        //         products = data;
        //         showDetail();
        //     });

        function showDetail() {
            // remove default data from HTML
            let detail = document.querySelector(".detail");
            let listProduct = document.querySelector(".listProduct");
            let productId = new URLSearchParams(window.location.search).get("id");
            let thisProduct = products.filter((value) => value.id == productId)[0];
            // if there is no product with id = productId => return to home page
            if (!thisProduct) {
                window.location.href = "/";
            }

            detail.querySelector(".image img").src = thisProduct.image;
            detail.querySelector(".name").innerText = thisProduct.name;
            detail.querySelector(".description").innerText =
                "" + thisProduct.description;

            products
                .filter((value) => value.id != productId)
                .slice(0, 4) // Limit to the first 4 products
                .forEach((product) => {
                    let newProduct = document.createElement("a");
                    newProduct.href = "detail.html?id=" + product.id;
                    newProduct.classList.add("item");
                    newProduct.innerHTML = `<img src="${product.image}" alt="">
              <h2>${product.name}</h2><a href=${newProduct.href}>Saiba mais</a>
              `;
                    listProduct.appendChild(newProduct);
                });
        }

        document.addEventListener("DOMContentLoaded", function () {
            const principalImage = document.getElementById("image-principal");
            const gridImages = document.querySelectorAll(".image-grid img");

            gridImages.forEach(function (img) {
                img.addEventListener("click", function () {
                    if (!this.src.includes("blank")) {   // Verifica se é o qruivo em branco
                        principalImage.src = this.src;
                    }
                });
            });
        });
        
    </script>
