@model MHDecora.Admin.Domain.Entities.Banner

@* 
<h1>Novo Banner</h1>

<form asp-controller="Banner" asp-action="Criar" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Descrição</label>
        <input name="Descricao" class="form-control" />
    </div>
    <div class="form-group">
        <label>Imagem</label>
        <input type="file" name="Imagem" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
<br />
<!-- Lista de Banners -->
<h2>Lista de Banners</h2>

@if (Model != null && Model.Count > 0)
{
    <div class="row">
        @foreach (var banner in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@banner.CaminhoImagem" class="card-img-top" alt="Banner">
                    <div class="card-body">
                        <h5 class="card-title">@banner.Descricao</h5>
                        <form asp-controller="Banner" asp-action="Excluir" method="post">
                            <input type="hidden" name="Id" value="@banner.Id" />
                            <button type="submit" class="btn btn-danger">Excluir</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>Nenhum banner encontrado.</p>
} *@



<div class="row">

  <div class="col-xl-12">
    <!-- Basic Examples -->
    <div class="card card-default">
      <div class="card-header">
        <h2>Editar Banner</h2>
      </div>
      <div class="card-body">
        
        <form id="formEditar" asp-action="Editar" method="post" enctype="multipart/form-data">
            <div class="row">
                <input hidden="hidden" id="Id" name="Id" value="@Model.Id">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="fname">Link</label>
                        <input name="descricao" id="descricao" class="form-control" placeholder="Link da imagem" value="@Model.Descricao">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="ordemSelect">Ordem de Apresentação</label>
                                @Html.DropDownListFor(m => m.Ordem, new SelectList(new[]
                                         {
                                new SelectListItem { Text = "1", Value = "1" },
                                new SelectListItem { Text = "2", Value = "2" },
                                new SelectListItem { Text = "3", Value = "3" }
                                }, "Value", "Text"), new { @class = "form-control", id = "ordem" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Selecione o Arquivo</label>
                        <input type="file" name="arquivo" class="form-control-file" id="fileInput" accept="image/*">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 mb-2">
                    <div class="form-group">
                        <label for="fname">Imagem</label>
                        <img id="previewImage" src="@Model.CaminhoImagem" class="img-fluid" alt="Imagem do Banner" />
                    </div>
                </div>
            </div>
            <div class="form-footer pt-5 border-top d-flex justify-content-between">
                <a href="@Url.Action("Index", "Banner")" class="btn btn-primary text-left">
                    <i class="mdi mdi-undo mr-1"></i> Voltar
                </a>
                <div>
                    <button type="submit" class="btn btn-success">Salvar</button>
                    <button type="submit" class="btn btn-light ml-2">Cancelar</button>
                </div>
            </div>

        </form>

      </div>
    </div>

  </div>
   
<script>
    // Função para exibir a visualização da imagem quando um arquivo é selecionado
    function previewFile() {
        var preview = document.getElementById('previewImage');
        var fileInput = document.getElementById('fileInput').files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
            preview.style.display = 'block';
        }

        if (fileInput) {
            reader.readAsDataURL(fileInput);
        } else {
            preview.src = '';
            preview.style.display = 'none';
        }
    }

    // Adiciona um listener de mudança no campo de entrada do arquivo
    document.getElementById('fileInput').addEventListener('change', previewFile);
</script>
  