@model MHDecora.Admin.Domain.Entities.Categoria

<div class="row">
    <div class="col-xl-12">
        <!-- Basic Examples -->
        <div class="card card-default">
            <div class="card-header">
                <h2>Editar Categoria</h2>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Editar", "Categoria", FormMethod.Post, new { enctype = "multipart/form-data", id = "formEditar" }))
                {
                    @*  <form id="formEditar" asp-action="Editar" method="post" enctype="multipart/form-data"> *@
                    <div class="row">
                        <input hidden="hidden" id="Id" name="Id" value="@Model.Id">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="fname">Nome da Categoria</label>
                                <input name="nome" id="nome" class="form-control" placeholder="Digite o nome da categoria" value="@Model.Nome">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="fname">Descrição</label>
                                <input name="descricao" id="descricao" class="form-control" placeholder="Digite a descricao da categoria" value="@Model.Descricao">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="exampleFormControlFile1">Selecione o Arquivo</label>
                                <input type="file" name="arquivo" class="form-control-file" id="fileInput" accept="image/*">
                            </div>
                        </div>                                                
                    </div>
                    <div class="row">
                        <div class="col-sm-4 mb-2">
                            <div class="form-group">
                                <label for="fname" id="lblImagem1">Imagem</label>
                                <img id="previewImagem1" src="@Model.CaminhoImagem" class="img-fluid" alt="Imagem da Categoria" style="width: 360px !important; height:293px !important;" />
                            </div>
                        </div>
                    </div>
                    <div class="form-footer pt-5 border-top d-flex justify-content-between">
                        <a href="@Url.Action("Index", "Categoria")" class="btn btn-primary text-left">
                            <i class="mdi mdi-undo mr-1"></i> Voltar
                        </a>
                        <div>
                            <button type="submit" class="btn btn-success">Salvar</button>
                            <button type="button" class="btn btn-light ml-2" onclick="cancelar()">Cancelar</button>
                        </div>
                    </div>                 
                }

            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        function cancelar() {
            $("#nome").val('@Model.Nome.ToString()');
            $("#descricao").val('@(Model.Descricao ?? string.Empty)');
        }

        function previewFile() {
            var status = document.getElementById('status1');
            var preview = document.getElementById('previewImagem1');
            var fileInput = document.getElementById('fileInput').files[0];
            var reader = new FileReader();
            
            reader.onloadend = function () {
                preview.src = reader.result;
                preview.style.display = 'block';
            }

            if (fileInput) {
                reader.readAsDataURL(fileInput);
            } else {
                preview.src = '';
                preview.style.display = 'none';
            }
        }

        // Adiciona um listener de mudança no campo de entrada do arquivo
        document.getElementById('fileInput').addEventListener('change', previewFile);

        // Impede submissões duplicadas
        // var formSubmitted = false;
        // document.getElementById('formEditar').addEventListener('submit', function (event) {
        //     if (formSubmitted) {
        //         event.preventDefault();
        //         return;
        //     }
        //     formSubmitted = true;
        // });


    </script>
}
